<nav class="navbar navbar-expand-sm bg-secondary navbar-dark justify-content-end">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/login">Logout</a>
    </li>
  </ul>
</nav>
