<app-header></app-header>

<div class="container  mt-4">
    <div class="float-right mb-4">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addModal" (click)="formAddData.reset()">New Order</button>
    </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Order Number</th>
        <th>Order Due Date</th>
        <th>Customer Buyer Name</th>
        <th>Customer Address</th>
        <th>Customer Phone</th>
        <th>Order Total</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of orderList,let i=index">
        <td>{{list.orderNumber}}</td>
        <td>{{list.orderDueDate}}</td>
        <td>{{list.customerBuyerName}}</td>
        <td>{{list.customerAddress}}</td>
        <td>{{list.customerPhone}}</td>
        <td>{{list.orderTotal}}</td>
        <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal" (click)="editOrder(list)">edit</button></td>
        <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" (click)="deleteGetId(i)">delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal" id="addModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Order</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <form #formAddData="ngForm" (ngSubmit)="addOrder(formAddData)">
                <div class="form-group">
                    <label for="pwd">Order Number:</label>
                    <input type="text" class="form-control" name="orderNumber" [(ngModel)]="orderNumber">
                  </div>
              <div class="form-group">
                <label for="pwd">Order Due Date:</label>
                <input type="text" class="form-control" name="orderDueDate" [(ngModel)]="orderDueDate">
              </div>
              <div class="form-group">
                  <label for="email">Customer Buyer Name:</label>
                  <input type="text" class="form-control" name="customerBuyerName" [(ngModel)]="customerBuyerName"> 
                </div>
                <div class="form-group">
                  <label for="pwd">Customer Address:</label>
                  <input type="text" class="form-control" name="customerAddress" [(ngModel)]="customerAddress">
                </div>
                <div class="form-group">
                    <label for="email">Customer Phone:</label>
                    <input type="text" class="form-control" name="customerPhone" [(ngModel)]="customerPhone">
                  </div>
                  <div class="form-group">
                    <label for="pwd">Order Total:</label>
                    <input type="text" class="form-control" name="orderTotal" [(ngModel)]="orderTotal">
                  </div>
            </form>
          </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="addOrder(formAddData)">Submit</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal" id="editModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Order Number : {{orderEditList.orderNumber}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
          <form #formData="ngForm" (ngSubmit)="onEditOrder(orderEditList)">
            <div class="form-group">
              <label for="pwd">Order Due Date:</label>
              <input type="text" class="form-control" name="orderEditList.orderDueDate" [(ngModel)]="orderEditList.orderDueDate">
            </div>
            <div class="form-group">
                <label for="email">Customer Buyer Name:</label>
                <input type="text" class="form-control" name="orderEditList.customerBuyerName" [(ngModel)]="orderEditList.customerBuyerName"> 
              </div>
              <div class="form-group">
                <label for="pwd">Customer Address:</label>
                <input type="text" class="form-control" name="orderEditList.customerAddress" [(ngModel)]="orderEditList.customerAddress">
              </div>
              <div class="form-group">
                  <label for="email">Customer Phone:</label>
                  <input type="text" class="form-control" name="orderEditList.customerPhone" [(ngModel)]="orderEditList.customerPhone">
                </div>
                <div class="form-group">
                  <label for="pwd">Order Total:</label>
                  <input type="text" class="form-control" name="orderEditList.orderTotal" [(ngModel)]="orderEditList.orderTotal">
                </div>
          </form>
        </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="onEditOrder(orderEditList)">Submit</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Order</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        Are you sure want to delete it?
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteData()">Yes</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>