<div class="container login-wrapper">
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">
                <form #logForm="ngForm" class="form-wrapper" (ngSubmit)="loginData(logForm)">
                    <h3 class="text-center text-info">Login</h3>
                    <div class="form-group">
                        <label for="username" class="text-info">Username:</label><br>
                        <input type="email" name="username" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Enter Username" class="form-control" [(ngModel)]="username" #usernameControl="ngModel" required>
                        <div *ngIf="usernameControl.errors && (usernameControl.dirty || usernameControl.touched || errorMsg) && errorMsg" class="error-msg">
                        <div *ngIf="usernameControl.errors.required">
                        Username is required.
                        </div> 
                        <div *ngIf="usernameControl.errors.pattern">
                        Username is invalid.
                        </div> 
                    </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="text-info">Password:</label><br>
                        <input type="password" name="password" minlength="6" class="form-control" [(ngModel)]="password" placeholder="Enter Password" #passwordControl="ngModel" required>
                        <div *ngIf="passwordControl.errors && (passwordControl.dirty || passwordControl.touched || errorMsg) && errorMsg" class="error-msg">
                        <div *ngIf="passwordControl.errors.required">
                            Password is required.
                        </div>
                        <div *ngIf="passwordControl.errors.minlength">
                            Password must contain at least 6 characters
                            </div>  
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remember-me" class="text-info"><span>Remember me</span> <span><input name="remember-me" type="checkbox"></span></label><br>
                        <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 